<div class="container mt-4">
  <h3>Pregled predatih domaćih zadataka</h3>

  <div *ngIf="poslatiDomaci.length === 0">
    <p>Nema poslatih domaćih zadataka.</p>
  </div>

  <table class="table table-striped" *ngIf="poslatiDomaci.length > 0">
    <thead>
      <tr>
        <th>Predmet</th>
        <th>Naziv obaveze</th>
        <th>Rok predaje</th>
        <th>Preuzmi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of poslatiDomaci">
        <td>{{ o.nazivPredmeta }}</td>
        <td>{{ o.nazivObaveze }}</td>
        <td>{{o.rok | date:'dd.MM.yyyy HH:mm' }}</td>
        <td>
          <button class="btn btn-sm btn-primary boja-btn" (click)="preuzmiFajl(o.obavezaId)">Preuzmi</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  
