<div class="container text-center my-5">
  <h2 class="mb-4">Prijave:</h2>
  <div class="d-flex justify-content-center flex-wrap gap-5">

    <div class="cela-kartica d-flex align-items-center" routerLink="/prijavljeniLabovi">
      <div class="kartica-broj">1</div>
      <div class="kartica-tekst">Lab vežbe i odbrane</div>
    </div>

    <div class="cela-kartica d-flex align-items-center" routerLink="/predaja">
      <div class="kartica-broj">2</div>
      <div class="kartica-tekst">Predati radovi</div>
    </div>

    <div class="cela-kartica d-flex align-items-center" routerLink="/prijavljeniIspiti">
      <div class="kartica-broj">3</div>
      <div class="kartica-tekst">Ispiti i kolokvijumi</div>
    </div>

  </div>
</div>
