<div class="accordion" id="predmetiAccordion" *ngIf="predmeti?.length">
    <div class="accordion-item" *ngFor="let p of predmeti">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
            [attr.data-bs-target]="'#c' + p.id">
                {{p.naziv}} - {{p.sifra}}
            </button>
        </h2>

        <div [id]="'c' + p.id" class="accordion-collapse collapse" 
            data-bs-parent="#predmetiAccordion" (shown.bs.collapse)="ucitajObaveze(p.id)">
            <div class="accordion-body">
                <div *ngFor="let o of obavezeMapa[p.id]">
                    <a [routerLink]="['/obaveze', o.id]">
                        {{o.naziv}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="predmeti?.length === 0">
    <p>Nastavnik trenutno nema predmeta.</p>
</div>