<div class="okvir-strane">

  <ul class="nav nav-tabs prilagodjeni-tabovi">
    <li class="nav-item">
      <a class="nav-link" routerLink="otvaranjeForme" routerLinkActive="active">Otvaranje forme</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="aktivneForme" routerLinkActive="active">Aktivne forme</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="istekleForme" routerLinkActive="active">Arhiva formi</a>
    </li>
  </ul>

  <div class="card-sadrzaj">
      <router-outlet></router-outlet>
  </div>

</div>
