.okvir-strane {
    max-width: 1200px;
    margin: 40px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
    overflow: hidden;
}

.card-sadrzaj {
    padding: 30px 35px;
}
