<div class="container d-flex justify-content-center kartica-wrapper">
  <div class="kartica-container text-center">

    <h4 class="access-title mb-3">
      Nemate pravo pristupa!
    </h4>

    <div class="d-grid gap-2">
      <a routerLink="/login" class="btn login-btn boja-btn">
        Prijava - student
      </a>

      <a routerLink="/nastavnik/login" class="btn login-btn boja-btn">
        Prijava - nastavnik
      </a>

      <a routerLink="/admin/login" class="btn login-btn boja-btn">
        Prijava - admin
      </a>
    </div>

  </div>
</div>
