<div class="container text-center my-5">
  <h2 class="mb-4">Opcije:</h2>
  <div class="d-flex justify-content-center flex-wrap gap-5">

    <div class="cela-kartica d-flex align-items-center" routerLink="/prijava">
      <div class="kartica-broj">1</div>
      <div class="kartica-tekst">Prijava obaveza</div>
    </div>

    <div class="cela-kartica d-flex align-items-center" routerLink="/pregledPrijava">
      <div class="kartica-broj">2</div>
      <div class="kartica-tekst">Pregled prijava</div>
    </div>

  </div>
</div>
