.godine-mreza {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center; 
  gap: 16px;
  padding: 10px;
}

.godina-kartica {
  display: flex;
  background: linear-gradient(135deg, #004080, #001f4d); 
  border-radius: 50px;
  padding: 16px 25px; 
  text-align: center;
  justify-content: center; 
  font-size: 20px;
  color: white;
  cursor: pointer;
  border: 1px solid #e1e1f0;
  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  min-width: 120px;
}


.godina-kartica:hover {
  background: linear-gradient(135deg, #0055aa, #002b66);
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.12);
}

.godina-kartica.selected {
  background: #dfdfe4;
  color:#031836;
}

.predmet-stavka {
  cursor: pointer;
  background: #f8f9fa;
  transition: 0.2s ease;
}

.predmet-stavka:hover {
  background: #e9ecef;
}

.broj-balon {
  width: 28px;
  height: 28px;
  background-color: #214c8c;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 15px;
}
