<div class="info-box" *ngIf="forma">
    <div class="ms-5">
        <h5>Konkurs za demonstratore</h5>

        <p><strong>Početak prijave:</strong> {{ forma.pocetak | date:'dd.MM.yyyy HH:mm' }}</p>
        <p><strong>Kraj prijave:</strong> {{ forma.kraj | date:'dd.MM.yyyy HH:mm' }}</p>

        <p *ngIf="forma.konkurs">
            <strong>Pravila konkursa: </strong>
            <button class="pdf-link" (click)="preuzimanjeKonkursa()">Preuzmi PDF</button>
        </p>
    </div>
</div>
<br>
<form (ngSubmit)="prijava()" class="ms-5" *ngIf="forma">
    <div class="mb-3">
        <label class="form-label d-block">Godina:</label>
        <div class="form-check form-check-inline" *ngFor="let g of [1, 2, 3, 4]">
            <input type="checkbox" class="form-check-input" [id]="'godina' + g" [value]="g"
                (change)="izborGodina(g, $event)" [checked]="izabraneGodine.includes(g)" />
            <label class="form-check-label" [for]="'godina' + g">{{g}}.</label>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label d-block">Odsek:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="odsek" id="si" value="si" [(ngModel)]="odsek"
                (change)="osveziPrikaz()" />
            <label for="si">Softversko inženjerstvo (SI)</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="odsek" id="rti" value="rti" [(ngModel)]="odsek"
                (change)="osveziPrikaz()" />
            <label for="rti">Računarska tehnika i informatika (RTI)</label>
        </div>
    </div>

    <div class="accordion" id="predmetiAccordion">

        <div class="accordion-item" *ngFor="let g of godineZaPrikaz">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#c' + g">
                    {{g}}. godina
                </button>
            </h2>

            <div [id]="'c' + g" class="accordion-collapse collapse" data-bs-parent="#predmetiAccordion">

                <div class="accordion-body">

                    <div *ngFor="let p of filtriraniPredmeti">
                        <div *ngIf="p.godina === g" class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" [id]="p.id"
                                [checked]="izabraniPredmeti.includes(p.id)" (change)="izborPredmeta(p.id, $event)" />

                            <label class="form-check-label" [for]="p.id">{{p.naziv}} ({{p.sifra}})</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="mt-3">
        <div class="prikaz-izbor" (click)="dohvatiIzabranePredmete()">
            {{ prikaziIzabrane ? 'Sakrij prijavljene predmete' : 'Prikaz prijavljenih predmeta' }}
        </div>
    </div>

    <div *ngIf="prikaziIzabrane" class="mt-3">
        <ul class="list-group">
            <li *ngFor="let p of zapamceniIzborPredmeta" class="list-group-item">

                <div class="fw-semibold">
                    {{ p.naziv }} ({{ p.sifra }})
                </div>

                <small class="text-muted small">
                    {{ p.godina }}. godina - {{ p.odsek.toUpperCase() }}
                </small>

            </li>

            <li *ngIf="zapamceniIzborPredmeta.length === 0" class="list-group-item text-muted">
                Nema prijavljenih predmeta.
            </li>
        </ul>
    </div>

    <br>
    <button type="submit" class="moj-btn">Pošalji prijavu</button>
    <div *ngIf="greska" class="text-danger mb-2">
        {{greska}}
    </div>

    <div *ngIf="uspeh" class="text-success mb-2">
        {{uspeh}}
    </div>
</form>