<header class="header py-3">
  <div class="container-fluid d-flex align-items-center">
    <img src="assets/logo.png" alt="Logo" class="me-3">

    <div class="d-flex flex-column text-center w-100">
      <h3>Katedra za računarsku tehniku i informatiku</h3>
      <h4>Univerzitet u Beogradu - Elektrotehnički fakultet</h4>
      <h5> POB 35-54, 1120 Beograd, Srbija</h5>
    </div>
  </div>
</header>

<div class="container-fluid zaglavlje" *ngIf="!isLoginPage">
  <a routerLink="/login" class="display-6 login-link">Login</a>
   <span *ngIf="!isHomePage" class="separator mx-2">|</span>
  <a *ngIf="!isHomePage" routerLink="/" class="display-6 login-link">Početna strana</a>
</div>

<div class="wrapper d-flex flex-column min-vh-100">
  <div class="content flex-grow-1">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer mt-auto py-3">
    <div class="container text-center">Copyright © 2025 Univerzitet u Beogradu - Elektrotehnički fakultet</div>
  </footer>
</div>