<div class="container mt-4">
  <h5>Upravljanje nastavnicima na predmetima</h5>
  <div class="mb-4">
    <h6>Izbor predmeta:</h6>
    <select class="form-select w-50" name="predmet" [(ngModel)]="izabraniPredmet"
      (change)="ucitajNastavnikeZaPredmet()">

      <option *ngFor="let p of sviPredmeti" [value]="p.id">
        {{p.naziv}} - {{p.sifra}}
      </option>
    </select>
  </div>

  <div *ngIf="izabraniPredmet" class="row">

    <div class="col-md-6 border-end">
      <h6>Nastavnici na predmetu:</h6>

      <ul class="list-group mt-3">
        <li *ngFor="let n of nastavniciNaPredmetu"
          class="list-group-item d-flex justify-content-between align-items-center">

          {{n.ime}} {{n.prezime}}

          <button class="btn btn-sm boja-btn" (click)="obrisiSaPredmeta(n.id)">Ukloni</button>
        </li>

        <li *ngIf="nastavniciNaPredmetu.length === 0" class="list-group-item text-muted">
          Nema nastavnika na ovom predmetu.
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <h6>Ostali nastavnici:</h6>

      <ul class="list-group mt-3">
        <li *ngFor="let n of ostaliNastavnici"
          class="list-group-item d-flex justify-content-between align-items-center">

          {{n.ime}} {{n.prezime}}

          <button class="btn btn-sm boja-btn" (click)="dodajNaPredmet(n.id)">Dodaj</button>
        </li>

        <li *ngIf="ostaliNastavnici.length === 0" class="list-group-item text-muted">
          Svi nastavnici su već na ovom predmetu.
        </li>
      </ul>
    </div>

  </div>

</div>

<hr class="my-5">

<div class="container mb-5">

  <h4 class="mb-3">Zadužen za demonstratore:</h4>

  <div *ngIf="zaduzen; else nemaZaduzenog" class="list-group w-50">

    <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        {{ zaduzen.ime }} {{ zaduzen.prezime }}
      </span>

      <button class="btn btn-sm boja-btn" (click)="ukloniZaduzenog()">
        Ukloni
      </button>
    </div>

  </div>

  <ng-template #nemaZaduzenog>

    <p class="text-muted">
      Nije postavljen zaduženi nastavnik.
    </p>

    <div class="mt-3 w-50">
      <label class="form-label">Izbor nastavnika:</label>

      <select class="form-select" [(ngModel)]="izabranZaduzen">
        <option *ngFor="let n of sviNastavnici" [value]="n.id">
          {{ n.ime }} {{ n.prezime }}
        </option>
      </select>

      <button class="btn boja-btn mt-3" [disabled]="!izabranZaduzen" (click)="postaviZaduzenog()">
        Dodaj
      </button>
    </div>

  </ng-template>

</div>