.hover-efekat {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}
.hover-efekat:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.dugme-statistika {
  padding: 6px 18px;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #004080;
  color: #fff;
}

.dugme-statistika:hover {
  background-color: #00264d;
}