<div class="prijave-container">

    <div class="blok-prijava">
        <h3 class="naslov-sekcije">  
            <img src="assets/service-icon-02.png" alt="">Prijavljeni kolokvijumi
        </h3>

        <ng-container *ngIf="prijavljeniKlk.length > 0; else nemaKlk">
            <table class="moja-tabela">
                <thead>
                    <tr>
                        <th>RB</th>
                        <th>Predmet</th>
                        <th>Naziv obaveze</th>
                        <th>Rok</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of prijavljeniKlk; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{p.nazivPredmeta}}</td>
                        <td>{{p.naziv}}</td>
                        <td>{{p.kraj | date:'dd.MM.yyyy HH:mm'}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>

        <ng-template #nemaKlk>
            <p class="nema">Nema prijava za kolokvijume.</p>
        </ng-template>
    </div>


    <div class="blok-prijava">
        <h3 class="naslov-sekcije">  
            <img src="assets/service-icon-01.png" alt="">Prijavljeni ispiti
        </h3>

        <ng-container *ngIf="prijavljeniIspiti.length > 0; else nemaIspita">
            <table class="moja-tabela">
                <thead>
                    <tr>
                        <th>RB</th>
                        <th>Predmet</th>
                        <th>Naziv obaveze</th>
                        <th>Rok</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of prijavljeniIspiti; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{p.nazivPredmeta}}</td>
                        <td>{{p.naziv}}</td>
                        <td>{{p.kraj | date:'dd.MM.yyyy HH:mm'}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>

        <ng-template #nemaIspita>
            <p class="nema">Nema prijava za ispite.</p>
        </ng-template>
    </div>

</div>
