<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 ms-5">
            <br> <br>
            <h4>Registracja</h4>
            <form name="forma" #forma="ngForm" (ngSubmit)="registracija()">
                <table>
                    <tr>
                        <td>Email:</td>
                        <td><input type="email" name="email" [(ngModel)]="korIme" required> @student.etf.bg.ac.rs</td>
                    </tr>
                    <tr>
                        <td>Lozinka:</td>
                        <td><input type="password" name="password" [(ngModel)]="lozinka" required></td>
                    </tr>
                    <br>
                    <tr>
                        <td colspan="2">
                            <button type="submit" [disabled]="forma.invalid" class="dugmePotvrda">Registracija</button>
                        </td>        
                    </tr>
                </table>
            </form>
            <div class="greska">
                {{greska}}
            </div>
        </div>
    </div>
