.laboratorije-izbor {
  text-align: center;
}

.lab-dugme {
  background-color: #e9ecef; 
  border: 1px solid #bfc4c9;
  color: #333;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 500;
}

.lab-dugme:hover {
  background-color: #d6d9dc; 
}

.lab-dugme.aktivno {
  background-color: #163d78; 
  color: white;
  border-color: #3866ab;
}


.dugme-lab {
    display: flex;
    justify-content: flex-end;
    padding: 6px 12px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 4px;
}

.dugme-lab .btn {
    background-color: #f1f1f1;
    border-radius: 20px;
    font-size: 0.85rem;
}

.dugme-lab .btn:hover {
    background-color: #bdc2c7;
}