
.dugme-potvrdi {
    margin-top: 10px;
    padding: 10px 20px;
    background: #4a90e2;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.2s;
}

.dugme-potvrdi:hover {
    background: #3572b0;
    cursor: pointer;
}

