/* HEDEER */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #002147;
  color: white;
  padding: 15px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header img {
  height: 95px;
  margin-right: 20px;
}

.header h3,
.header h4,
.header h5 {
  margin: 0;                /* uklanja sve margine */
  line-height: 1.2;         /* ujednačava visinu reda */
  color: white;             /* ako koristiš tamni header */
}

header h3:hover,
header h4:hover,
header h5:hover {
    color: #a3bbc7;
    transform: scale(1.05); 
}
.text-container h3 {
  margin-top: 4px; /* dodatno spušta samo prvi naslov */
}

.header h3 + h4,
.header h4 + h5 {
  margin-bottom: 4px;          /* isti razmak između redova */
}

/* telo */
body {
  background-color: #f4f6f8; /* svetlosiva pozadina za kontrast */
  color: #263238;
}

/* FOOTER */
.footer {
  background-color: #002147;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}

.footer .container {
  font-size: 0.9em;
}

/* Ostatak strukture */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
}

.content {
  flex: 1;
}

.zaglavlje{
    background-color: rgb(209, 203, 197);
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-link {
    color: black; 
    text-decoration: none; 
    font-size: 1.50rem; 
}
  
.login-link:hover {
    color: linen;
}