.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #002147;
  color: white;
  padding: 15px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header img {
  height: 95px;
  margin-right: 20px;
}

.header h3,
.header h4,
.header h5 {
  margin: 0;                
  line-height: 1.2;         
  color: white;             
}

header h3:hover,
header h4:hover,
header h5:hover {
    color: #a3bbc7;
    transform: scale(1.05); 
}
.text-container h3 {
  margin-top: 4px; 
}

.header h3 + h4,
.header h4 + h5 {
  margin-bottom: 4px;         
}

body {
  background-color: #f4f6f8; 
  color: #263238;
}

.footer {
  background-color: #002147;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}

.footer .container {
  font-size: 0.9em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
}

.content {
  flex: 1;
}

.zaglavlje{
    background-color: #ececff;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-link {
    color: black; 
    text-decoration: none; 
    font-size: 1.50rem; 
}
  
.login-link:hover {
    color: linen;
}

.greska{
    color: red;
}

.dugmePotvrda {
    background-color: rgb(222, 221, 223);
    color:rgb(21, 9, 39); 
    border: 1px solid #1f172f;
    padding: 8px 18px; 
    cursor: pointer; 
    border-radius: 7px; 
}

.dugmePotvrda:hover {
    background-color: #274970;
}

.custom-navbar {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #ececff;
}

.custom-navbar .container-fluid {
  max-width: 900px; 
  margin: 0 auto;
}