.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #002147;
  color: white;
  padding: 15px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header img {
  height: 95px;
  margin-right: 20px;
}

.header h3,
.header h4,
.header h5 {
  margin: 0;                
  line-height: 1.2;         
  color: white;             
}

header h3:hover,
header h4:hover,
header h5:hover {
    color: #a3bbc7;
    transform: scale(1.05); 
}
.text-container h3 {
  margin-top: 4px; 
}

.header h3 + h4,
.header h4 + h5 {
  margin-bottom: 4px;         
}

body {
  background-color: #f4f6f8; 
  color: #263238;
}

.footer {
  background-color: #002147;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}

.footer .container {
  font-size: 0.9em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
}

.content {
  flex: 1;
}

.zaglavlje{
    background-color: #ececff;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-link {
    color: black; 
    text-decoration: none; 
    font-size: 1.50rem; 
}
  
.login-link:hover {
    color: linen;
}

.greska{
    color: red;
}

.dugmePotvrda {
    background-color: rgb(222, 221, 223);
    color:rgb(21, 9, 39); 
    border: 1px solid #1f172f;
    padding: 8px 18px; 
    cursor: pointer; 
    border-radius: 7px; 
}

.dugmePotvrda:hover {
    background-color: #274970;
}

.custom-navbar {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #ececff;
}

.custom-navbar .container-fluid {
  max-width: 900px; 
  margin: 0 auto;
}

.fc-timeline-event {
  background-color: #274970;
  border-color: #002147;
  text-align: center;
}

.fc-timeline-slot-cushion {
  color: #274970 !important;
  font-weight: bold;
}

.fc-timeline-event .fc-event-main {
  height: 100% !important;
  width: 100% !important;
  display: block !important;      
  padding: 4px 6px;
  box-sizing: border-box;
  color: white;
}

.fc-timeline-event .fc-event-main .fc-event-title {
  white-space: nowrap;            
  overflow: hidden;               
  text-overflow: ellipsis;   
  display: block;
}

.accordion-item { 
  border-radius: 12px !important;
  margin-bottom: 12px;
  overflow: hidden;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.accordion-button {
  background-color: #f8f8fb !important;
  font-weight: 600;
  color: #5a5a71;
  border: 1px solid #e3e3e3;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: #eef0f5 !important;  
  color: #2b2b60;                       
  border-color: #c0c0c0 !important;      
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.accordion-button:hover {
  background-color: #e6e8ec !important;
}


.nav-bar-tabovi {
    background: #f7f9fc;
    padding: 10px 20px;
    border-bottom: 2px solid #064185;
}

.nav-bar-tabovi .nav-link {
    font-weight: 500;
    color: #555;
}

.nav-bar-tabovi .nav-link.active {
    color: #0f427c;
    font-weight: 600;
    border-bottom: 2px solid #064185;
}

.moj-btn {
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #103a53;
  color: #fff;
}

.moj-btn:hover {
  background-color: #00264d;
}

.moj-btn:disabled{
  background-color: #bfc4c6;
}