<div class="container d-flex justify-content-center  logout-wrapper">
  <div class="logout-container text-center">

    <h4 class="mb-3">Odjava iz sistema</h4>

    <p class="text-muted mb-4">
      Da li ste sigurni da želite da se odjavite?
    </p>

    <div class="d-flex justify-content-center gap-3">
      <button class="moj-btn" (click)="odjava()">
        Odjavi se
      </button>

      <button class="btn btn-outline-secondary" (click)="odustani()">
        Nazad
      </button>
    </div>

  </div>
</div>
